#home-page-container {
    
}
#home-page-user-welcome-box {
    display: flex;
    justify-content: center;
}
#home-page-main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 50px 50px 1fr 3fr 3fr
}
#home-page-latest {
    grid-column: 1;
    grid-row: 3;
    text-align: center

}
#home-page-feeling {
    grid-column: 2;
    grid-row: 2;
    text-align: center
}
#home-page-support {
    grid-column: 3;
    grid-row: 3;
    text-align: center
}
#home-page-feeling-response {
   
     width: 500px;
     height: 150px;
     border: 2px solid black;
     border-radius: 3px;
   
}
#home-page-user-feeling-box {
    display: flex;
    justify-content: center; 
    grid-column: 2;
    grid-row: 4;
}